.bill-airtime-content{
    padding-left: 10%;
    margin-top: 30px;
    padding-right: 5%;
}

.bulk-airtime-photo{
    margin-left: 0px;
    padding-bottom: 15px;
}

.bulk-airtime-label{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bulk-airtime-item-label{
    font-size: 12px;
    text-transform: uppercase;
}

.bulk-airtime-hr{
    width: 90%;
    margin-left: 0px;
    border-top: 1px solid black;
}
