#radio-invoice .notActive{
  color: #3276b1;
  background-color: #fff;
}

.history-invoice{
  padding-top: 35px;
  padding-left: 70px;
}

#radio-invoice{
  margin-left: 40px;
}

.radio-invoice-button{
  border: 0px;
  color: black;
  background-color: #7fd3f2;
  border-left-radius: 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}