

  .receipt{
    width: 100%;
    margin-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
  }

  .receipt-header{
    width: 100%;height: 100px;
  }

  .receipt-label{
    color: #00bcec;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .receipt-border{
    border-bottom: 1px solid black
  }

  .receipt-amount{
    padding-top: 20px;padding-bottom: 20px;
  }